@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200&display=swap');
@font-face {
    font-family: "Rubiklso-Regular";
    src: url("Fonts/RubikIso-Regular.ttf");
}
*{
    
    box-sizing: border-box;
    font-family: Raleway;
    color: #777;
}
html,body{
    margin: 0;
    padding: 0;
}
.main-footer{
    background-color: rgba(65, 60, 60, 0.221);
    background-image: url("Images/Pic2BR.jpg");
    height :100%;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    color: white;
    padding: .15em 0;
    background-size: cover;
}
.store-name{
    text-align: center;
    margin: 0;
    font-size: 5em;
    font-family: Rubiklso-Regular ;
    font-weight: normal;
    color: white;
}
.nav{
    margin: 0;
}
.nav li{
    display: inline;
}
.nav a{
    display: inline-block;
    padding: .6em;
    color: white;
    text-decoration: none;
}
.nav a:hover{
    background-color:rgba(255, 255, 255, .3);
}
.store-name-large{
    font-size: 6em;
    margin: 0;
}
.main-nav{
    padding-top: .1em;
    text-align: center;
    font-size: 1.5em;
    font-weight: bolder;
    border-bottom:1px solid rgba(255, 255, 255, .3);
}
.main-nav li{
    padding: 0 5%;
}
.name_header{
    background-color: rgba(0, 0, 0, .6);
    background-image: url("Images/Pic1.jpg");
    background-blend-mode: multiply;
    background-size: cover;
    padding-bottom: 30px;
}
.content-section{
    margin: 1em;
}
.container{
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}
.section-header{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: normal;
    color: #333;
    text-align: center;
    font-size: 2.5em;
}

.about-store{
    float: left;
    height: 300px;
    width: 300px;
    margin: 15px;
    border-radius: 20%;
    margin-right: 20px;
}

.main-footer-container{
    display: flex;
    align-items: center;
}
.main-footer-container ul{
    flex-grow: 1;
    text-align: end;
}
.footer-nav li{
    padding: 0 .03em;
    
}
.footer-nav img{
    width: 30px;
    height: 30px;
    
}
.btn{
    text-align: center;
    vertical-align: middle;
    padding: .2em;
    cursor: pointer;
}
.btn-header{
    margin: .5em 30% 2em 34%;
    color: rgb(255, 255, 255);
    border:2px solid cadetblue;
    background-color: rgba(255,255,255,.1);
    border-radius: 0;
    padding-left: 2em;
    padding-right: 2em;
    font-weight: bolder;
    font-size: medium;
}
.btn-header:hover{
    background-color: rgba(255, 255, 255, .3);
}
.play-btn{
    display: block;
    margin: 0 auto;
    color: cadetblue;
    font-size: 4em;
    border-radius: 50%;
    padding: 0;
    width: 100px;
    height: 100px;
}
.collection-div{
    border-bottom: 1px solid black;
    padding-bottom: 1em;
    margin-bottom: 1em;
}
.collection-div-last {
    border-bottom: none;
}
.collection-item{
    display: inline-block;
    padding-right: .5em;
}
.collection-name{
    color: #555;
    font-weight: bold;
    width: 22%;
}
.collection-bind{
    width: 24%;
}
.collection-pub{
    width: 26%;
}
.collection-btn{
    max-width: 20%;
}
.btn-primary{
    color: white;
    background-color: cadetblue;
    border:none;
    border-radius: .3em;
    font-weight: bold;
}
.btn-primary:hover{
    background-color:rgb(24, 86, 88);
}
.shop-item{
    margin: 30px;
}
.shop-item-title{
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: #333;
    margin-bottom: 15px;
    margin-top: 15px;
}
.shop-item-image{
    height: 200px;
}
.shop-item-details{
    display: flex;
    align-items: center;
    padding: 10px;
}
.shop-item-price{
    flex-grow: 1;
    color: #333;
}
.shop-item{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.cart-header{
    font-weight: bold;
    font-size: 1.2en;
    color: #333;
}
.cart-column{
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
    
}
.cart-row{
    display: flex;
}
.cart-item{
    width: 45%;
}
.cart-price{
    width: 20%;
    font-size: 1.2em;
    color: #333;
}
.cart-quantity{
    width: 35%;
}
.cart-item-title{
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
}
.cart-item-image{
    width: 75px;
    height: auto;
    border-radius: 30px;
}
.btn-danger{
    color: white;
    background-color: rgb(199, 101, 101);
    border: none;
    border-radius: .3em;
    font-weight: bold;
}
.btn-danger:hover{
    background-color:rgb(220, 67, 67) ;
}
.cart-quantity-input{
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid cadetblue;
    color: #333;
    padding: 0;
    text-align: center;
    background-color: #e4e4e4;
    font-size: 1.2em;
    margin-right: 25px;
}
.cart-row-last{
    border-bottom: 1px solid black;
}
.cart-row-last .cart-column{
    border:none;
}
.cart-total{
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}
.cart-total-title{
    font-weight: bold;
    font-size: 1.5em;
    color: #333;
    margin-right: 20px;
}
.cart-total-price{
    color: #333;
    font-size: 1.1em;
}
.btn-purchase{
    display: block;
    margin: 40px auto 40px auto;
    font-size: 1.5em;
}
.fotter-img:hover{
    color: #111; 
    background: cadetblue; 
    box-shadow: 0 0 100px rgb(198, 215, 216); 
}
.nav-item:hover{
    color:white; 
    background: rgb(255, 255, 255); 
    box-shadow: 0 0 100px cadetblue; 
}